@page
@model PeRiskCalc.Frontend.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">
    <h1 class="fs-3">About</h1>
    Details about the Pre-eclampsia Risk Calculator here: links source code, API details, to papers, an explanation of
    how
    the algorithm works etc.
</div>