@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}
@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const plgfRadio = document.getElementById('serum-measure-plgf');
            const pappARadio = document.getElementById('serum-measure-papp-a');
            const notAvailableRadio = document.getElementById('serum-measure-none');
            const parousNoRadio = document.getElementById('parous-no');
            const parousYesRadio = document.getElementById('parous-yes');
            const plgfFieldset = document.getElementById('plgf-fieldset');
            const pappAFieldset = document.getElementById('papp-a-fieldset');
            const plgfInput = document.getElementById('plgf-measure');
            const pappAInput = document.getElementById('papp-a-measure');
            const parousCard = document.getElementById('parous-collapse');
            const parousPeYesRadio = document.getElementById('parous-pe-yes');
            const parousPeNoRadio = document.getElementById('parous-pe-no');
            const parousGestAgeWeeksInput = document.getElementById('parous-gest-age-weeks');
            const parousGestAgeDaysInput = document.getElementById('parous-gest-age-days');
            const parousPregIntervalInput = document.getElementById('parous-preg-interval');
            const submitButton = document.getElementById('submit-button');

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');
            const alertBox = document.getElementById('validationAlert');

            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
            const invalidPopover = new bootstrap.Popover(submitButton, {
                trigger: 'manual',
            }
            );

            const resultsModal = new bootstrap.Modal('#results-modal')

            // Initialize Bootstrap collapse elements
            const plgfCollapse = new bootstrap.Collapse(plgfFieldset, {
                toggle: false  // Prevents automatic toggle on load
            });
            const pappACollapse = new bootstrap.Collapse(pappAFieldset, {
                toggle: false
            });
            const parousCollapse = new bootstrap.Collapse(parousCard, {
                toggle: false
            });

            // Prevent scrolling up when form is invalid
            function preventScrollOnValidation() {
                document.querySelector('html').scrollTo({
                    top: window.scrollY,
                    behavior: 'smooth' // Ensures a smoother UX
                });
            }

            // Function to handle radio button change
            function handleSerumRadioChange() {
                if (notAvailableRadio.checked) {
                    // Hide both fieldsets
                    plgfCollapse.hide();
                    pappACollapse.hide();
                    plgfInput.disabled = true;
                    pappAInput.disabled = true;
                } else if (plgfRadio.checked) {
                    // Show PlGF fieldset and hide PAPP-A fieldset
                    plgfCollapse.show();
                    pappACollapse.hide();
                    plgfInput.disabled = false;
                    pappAInput.disabled = true;
                } else if (pappARadio.checked) {
                    // Show PAPP-A fieldset and hide PlGF fieldset
                    pappACollapse.show();
                    plgfCollapse.hide();
                    plgfInput.disabled = true;
                    pappAInput.disabled = false;
                }
            }
            function handleParousRadioChange() {
                if (parousYesRadio.checked) {
                    // Show the card
                    parousCollapse.show();
                    parousGestAgeWeeksInput.required = true;
                    parousGestAgeWeeksInput.disabled = false;
                    parousGestAgeDaysInput.required = true;
                    parousGestAgeDaysInput.disabled = false;
                    parousPregIntervalInput.required = true;
                    parousPregIntervalInput.disabled = false;
                    parousPeNoRadio.required = true;
                    parousPeNoRadio.disabled = false;
                    parousPeYesRadio.required = true;
                    parousPeYesRadio.disabled = false;

                } else {
                    // Hide the card
                    parousCollapse.hide();
                    parousGestAgeWeeksInput.required = false;
                    parousGestAgeWeeksInput.disabled = true;
                    parousGestAgeDaysInput.required = false;
                    parousGestAgeDaysInput.disabled = true;
                    parousPregIntervalInput.required = false;
                    parousPregIntervalInput.disabled = true;
                    parousPeNoRadio.required = false;
                    parousPeNoRadio.disabled = true;
                    parousPeYesRadio.required = false;
                    parousPeYesRadio.disabled = true;
                }
            }
            function handleLowRiskClick() {
                event.preventDefault();

                // Auto-fill the form fields with low risk values
                document.getElementById('fetuses').value = 'singleton';
                document.getElementById('age').value = 25;
                document.getElementById('height').value = 164;
                document.getElementById('weight').value = 69;
                document.getElementById('ethnicity').value = 'other';
                document.querySelector('input[name="mother-pe"][value="no"]').checked = true;
                document.querySelector('input[name="ivf"][value="no"]').checked = true;
                document.querySelector('input[name="chronic-hypert"][value="no"]').checked = true;
                document.querySelector('input[name="diabetes"][value="no"]').checked = true;
                document.querySelector('input[name="sle-aps"][value="no"]').checked = true;
                document.querySelector('input[name="parous"][value="no"]').checked = true;

                // Biomeasurements
                document.getElementById('map').value = 0.577;
                document.getElementById('uta-pi').value = 0.582;
                document.getElementById('serum-measure-plgf').checked = true;
                document.getElementById('plgf-measure').value = 1;

                // Gestation details
                document.getElementById('gest-age-weeks').value = 12;
                document.getElementById('gest-age-days').value = 0;
                handleParousRadioChange();
                handleSerumRadioChange();
            }

            function handleBaselineRiskClick() {
                event.preventDefault();

                // Auto-fill the form fields with baseline risk values
                document.getElementById('fetuses').value = 'singleton';
                document.getElementById('age').value = 25;
                document.getElementById('height').value = 164;
                document.getElementById('weight').value = 69;
                document.getElementById('ethnicity').value = 'other';
                document.querySelector('input[name="mother-pe"][value="no"]').checked = true;
                document.querySelector('input[name="ivf"][value="no"]').checked = true;
                document.querySelector('input[name="chronic-hypert"][value="no"]').checked = true;
                document.querySelector('input[name="diabetes"][value="no"]').checked = true;
                document.querySelector('input[name="sle-aps"][value="no"]').checked = true;
                document.querySelector('input[name="parous"][value="no"]').checked = true;

                // Biomeasurements
                document.getElementById('map').value = 0.807;
                document.getElementById('uta-pi').value = 0.872;
                document.getElementById('serum-measure-plgf').checked = true;
                document.getElementById('plgf-measure').value = 1;

                // Gestation details
                document.getElementById('gest-age-weeks').value = 12;
                document.getElementById('gest-age-days').value = 0;
                handleParousRadioChange();
                handleSerumRadioChange();
            }

            function handleHighRiskClick() {
                event.preventDefault();

                // Auto-fill the form fields with high risk values
                document.getElementById('fetuses').value = 'singleton';
                document.getElementById('age').value = 25;
                document.getElementById('height').value = 164;
                document.getElementById('weight').value = 69;
                document.getElementById('ethnicity').value = 'other';
                document.querySelector('input[name="mother-pe"][value="no"]').checked = true;
                document.querySelector('input[name="ivf"][value="no"]').checked = true;
                document.querySelector('input[name="chronic-hypert"][value="no"]').checked = true;
                document.querySelector('input[name="diabetes"][value="no"]').checked = true;
                document.querySelector('input[name="sle-aps"][value="no"]').checked = true;
                document.querySelector('input[name="parous"][value="no"]').checked = true;

                // Biomeasurements
                document.getElementById('map').value = 1.038;
                document.getElementById('uta-pi').value = 1.163;
                document.getElementById('serum-measure-plgf').checked = true;
                document.getElementById('plgf-measure').value = 0.5;

                // Gestation details
                document.getElementById('gest-age-weeks').value = 12;
                document.getElementById('gest-age-days').value = 0;
                handleParousRadioChange();
                handleSerumRadioChange();
            }

            // Add event listeners to both radio buttons
            plgfRadio.addEventListener('change', handleSerumRadioChange);
            pappARadio.addEventListener('change', handleSerumRadioChange);
            notAvailableRadio.addEventListener('change', handleSerumRadioChange);
            parousNoRadio.addEventListener('change', handleParousRadioChange);
            parousYesRadio.addEventListener('change', handleParousRadioChange);

            // Initialize the correct visibility on page load
            // TODO implement serum PAPP-A
            //handleSerumRadioChange(); 
            handleParousRadioChange();

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', async event => {
                    event.preventDefault()
                    event.stopPropagation()
                    if (!form.checkValidity()) {
                        if (invalidPopover && invalidPopover.tip === null) {
                            invalidPopover.show();
                        }
                        preventScrollOnValidation();
                        form.classList.add('was-validated')
                    }
                    else {
                        form.classList.remove('was-validated')
                        invalidPopover.hide();
                        await calculateRisk();
                        resultsModal.show();
                    }

                }, false)
            })

            // Baseline risk auto-fill logic

            const lowRiskItem = document.getElementById('low-risk');
            const baselineRiskItem = document.getElementById('baseline-risk');
            const highRiskItem = document.getElementById('high-risk');

            lowRiskItem.addEventListener('click', function (event) {
                handleLowRiskClick();
            });
            baselineRiskItem.addEventListener('click', function (event) {
                handleBaselineRiskClick();
            });
            highRiskItem.addEventListener('click', function (event) {
                handleHighRiskClick();
            });
        });


        async function calculateRisk() {
            const formData = new FormData(
                document.getElementById("calculator-form")
            );

            const priorInputs = {
                Fetuses: formData.get("fetuses"),
                GestAgeWeeks: parseFloat(formData.get("gest-age-weeks")),
                GestAgeDays: parseFloat(formData.get("gest-age-days")),
                IVF: formData.get("ivf") === "yes",

                Age: parseFloat(formData.get("age")),
                Height: parseFloat(formData.get("height")),
                Weight: parseFloat(formData.get("weight")),
                Ethnicity: formData.get("ethnicity"),
                MotherPe: formData.get("mother-pe") === "yes",

                ChronicHypert: formData.get("chronic-hypert") === "yes",
                Diabetes: formData.get("diabetes") === "yes",
                SleOrAps: formData.get("sle-aps") === "yes",

                Parous: formData.get("parous") === "yes",
                ParousPe: formData.get("parous-pe-yes") === "yes",
                ParousGestAgeWeeks: parseFloat(formData.get("parous-gest-age-weeks")) || 0,
                ParousGestAgeDays: parseFloat(formData.get("parous-gest-age-days")) || 0,
                ParousPregInterval: parseFloat(formData.get("parous-preg-interval")) || 0,
            };

            const posteriorInputs = {
                MapMoM: parseFloat(formData.get("map")) || 0,
                UtaPiMoM: parseFloat(formData.get("uta-pi")) || 0,
                PlgfMoM: parseFloat(formData.get("plgf-measure")) || 0,
                PappAMoM: parseFloat(formData.get("papp-a-measure")) || 0,
            };

            try {

                const response = await fetch("http://localhost:5128/calculate-risk", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ priorInputs, posteriorInputs }),
                });
                console.log("body", { priorInputs, posteriorInputs });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const result = await response.json();


                if (result.riskPrior !== undefined && result.riskPost !== undefined) {
                    let oddsPrior = 1 / result.riskPrior;
                    let oddsPost = 1 / result.riskPost;
                    oddsPrior = oddsPrior > 10000 ? 10000 : oddsPrior;
                    oddsPost = oddsPost > 10000 ? 10000 : oddsPost;
                    document.getElementById(
                        "resultPrior"
                    ).textContent = `${Math.round(oddsPrior)}`;
                    document.getElementById(
                        "resultPost"
                    ).textContent = `${Math.round(oddsPost)}`;
                } else {
                    document.getElementById(
                        "result"
                    ).textContent = `Error: Risk value is undefined in the response.`;
                }
            } catch (error) {
                console.error("There was an error with the request:", error);
                document.getElementById(
                    "result"
                ).textContent = `Error calculating risk: ${error.message}`;
            }
        }
    </script>
}

<div class="container mt-4">
    <div class="alert alert-danger" role="alert">

        Pre-release version: This calculator is for software testing purposes only.
    </div>
    <div class="d-flex justify-content-between mb-3">
        <h1 class="fs-3">Calculator</h1>

        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Auto-fill
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="low-risk" href="#">Low risk</a></li>
                <li><a class="dropdown-item" id="baseline-risk" href="#">Baseline risk</a></li>
                <li><a class="dropdown-item" id="high-risk" href="#">High risk</a></li>
            </ul>
        </div>


    </div>
    <div class="d-flex justify-content-end">
        <small><span class="text-danger">*</span> indicates a required field</small>
    </div>
    <form id="calculator-form" class="row needs-validation" novalidate>
        <!-- PREGNANCY DETAILS -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="mb-3">Pregnancy details</legend>
            <div class="row mb-3" style="display: none;">
                <label for="pregnancyType" class="col-sm-3 col-form-label">Singleton or twins<span
                        class="text-danger">*</span></label>
                <div class="col-sm-4">
                    <select id="fetuses" name="fetuses" class="form-select" required>
                        <option value="" selected disabled>Select singleton or twins</option>
                        <option value="singleton">Singleton</option>
                        <option value="twins-mono">Twins (monochorionic)</option>
                        <option value="twins-di">Twins (dichorionic)</option>
                    </select>
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Gestational age<span class="text-danger">*</span></legend>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="number" id="gest-age-weeks" name="gest-age-weeks" class="form-control" required />
                        <span class="input-group-text">weeks</span>
                        <input type="number" id="gest-age-days" name="gest-age-days" class="form-control" required />
                        <span class="input-group-text">days</span>
                        <div class="invalid-feedback">
                            Please provide the gestational age for the current pregnancy.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">IVF<span class="text-danger">*</span></legend>
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ivf" id="ivfYes" value="yes" required>
                        <label class="form-check-label" for="ivfYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ivf" id="ivfNo" value="no" required>
                        <label class="form-check-label" for="IvfNo">No</label>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <!-- MATERNAL CHARACTERISTICS -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="mb-3">Maternal characteristics</legend>
            <div class="row mb-3">
                <label for="age" class="col-sm-3 col-form-label">Age<span class="text-danger">*</span></label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" id="age" name="age" class="form-control" required />
                        <span class="input-group-text">years</span>
                        <div class="invalid-feedback">
                            Please provide maternal age.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="height" class="col-sm-3 col-form-label">Height<span class="text-danger">*</span></label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" id="height" name="height" class="form-control" required />
                        <span class="input-group-text">cm</span>
                        <div class="invalid-feedback">
                            Please provide maternal height.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="weight" class="col-sm-3 col-form-label">Weight<span class="text-danger">*</span></label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" id="weight" name="weight" class="form-control" required />
                        <span class="input-group-text">kg</span>
                        <div class="invalid-feedback">
                            Please provide maternal weight.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ethnicity" class="col-sm-3 col-form-label">Ethnicity<span
                        class="text-danger">*</span></label>
                <div class="col-sm-3">
                    <select id="ethnicity" name="ethnicity" class="form-select" required>
                        <option value="" selected disabled>Select ethnicity</option>
                        <option value="black">Black</option>
                        <option value="east-asian">South asian</option>
                        <option value="other">Other ethnicity</option>
                    </select>
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Mother of the patient had pre-eclampsia<span
                        class="text-danger">*</span></legend>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mother-pe" id="mother-pe-yes" value="yes">
                        <label class="form-check-label" for="mother-pe-yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mother-pe" id="mother-pe-no" value="no">
                        <label class="form-check-label" for="mother-pe-no">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mother-pe" id="mother-pe-unknown" value="no"
                            data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="When it is not known whether the mother had pre-eclampsia, the calculator will assume 'No'.">
                        <label class="form-check-label" for="mother-pe-unknown">Unknown</label>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <!-- MEDICAL HISTORY -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="mb-3">Medical history</legend>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Chronic hypertension<span class="text-danger">*</span></legend>
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="chronic-hypert" id="chronic-hypert-yes"
                            value="yes">
                        <label class="form-check-label" for="chronic-hypert-yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="chronic-hypert" id="chronic-hypert-no"
                            value="no">
                        <label class="form-check-label" for="chronic-hypert-no">No</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Diabetes (type I or II)<span class="text-danger">*</span>
                </legend>
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="diabetes" id="diabetes-yes" value="yes">
                        <label class="form-check-label" for="diabetes-yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="diabetes" id="diabetes-no" value="no">
                        <label class="form-check-label" for="diabetes-no">No</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Systemic lupus erythematosus or Anti-phospholipid
                    syndrome<span class="text-danger">*</span></legend>
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sle-aps" id="sle-aps-yes" value="yes">
                        <label class="form-check-label" for="sle-aps-yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sle-aps" id="sle-aps-no" value="no">
                        <label class="form-check-label" for="sle-aps-no">No</label>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <!-- OBSTETRIC HISTORY -->
        <fieldset class="border rounded rounded p-3 mb-4">
            <legend class="mb-3">Obstetric history</legend>
            <fieldset class="row mb-3">
                <legend class="col-sm-3 col-form-label">Parity<span class="text-danger">*</span></legend>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="parous" id="parous-no" value="no">
                        <label class="form-check-label" for="parous-no">Nulliparous</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="parous" id="parous-yes" value="yes">
                        <label class="form-check-label" for="parous-yes">Parous</label>
                    </div>
                </div>
            </fieldset>
            <div class="card card-body collapse" id="parous-collapse">
                <h6 class="card-title mb-3">Details of last pregnancy at greater than 24 weeks</h5>
                    <div class="row mb-3">
                        <legend class="col-sm-3 col-form-label">Pre-eclampsia<span class="text-danger">*</span></legend>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="parous-pe" id="parous-pe-yes"
                                    value="yes" required>
                                <label class="form-check-label" for="parous-pe-yes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="parous-pe" id="parous-pe-no"
                                    value="no" required>
                                <label class="form-check-label" for="parous-pe-no">No</label>
                            </div>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-sm-3 col-form-label">Gestation age at delivery<span
                                class="text-danger">*</span></legend>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="number" id="parous-gest-age-weeks" name="parous-gest-age-weeks"
                                    class="form-control" />
                                <span class="input-group-text">weeks</span>
                                <input type="number" id="parous-gest-age-days" name="parous-gest-age-days"
                                    class="form-control" />
                                <span class="input-group-text">days</span>
                                <div class="invalid-feedback">
                                    Please provide the gestation age of the last pregnancy.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    @* TODO FMF calculator has years to 1 decimal place *@
                    <fieldset class="row mb-3">
                        <legend class="col-sm-3 col-form-label">Interval between current and last pregnancy<span
                                class="text-danger">*</span></legend>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="number" id="parous-preg-interval" name="parous-preg-interval"
                                    class="form-control" />
                                <span class="input-group-text">years</span>
                                <div class="invalid-feedback">
                                    Please provide the interval between the current and last pregnancy.
                                </div>
                            </div>
                        </div>
                    </fieldset>
            </div>
        </fieldset>
        <!-- BIO-MEASUREMENTS -->
        <fieldset class="border rounded p-3 mb-4">
            <legend class="mb-3">Bio-measurements</legend>
            @* TODO Calculate MAP from 2 measurements*@
            <div class="row mb-3">
                <label for="map" class="col-sm-3 col-form-label">Mean arterial pressure (MAP)</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" step="0.001" id="map" name="map" class="form-control" />
                        <span class="input-group-text">MoM</span>
                    </div>
                </div>
            </div>
            @* TODO Calculate UTAPI from left and right readings*@
            <div class="row mb-3">
                <label for="uta-pi" class="col-sm-3 col-form-label">Mean uterine artery pulsatility index</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" step="0.001" id="uta-pi" name="uta-pi" class="form-control" />
                        <span class="input-group-text">MoM</span>
                    </div>
                </div>
            </div>
            <div class="row mb-3" style="display: none;">
                <legend class="col-sm-3 col-form-label">Serum measurement</legend>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="serum-measure" id="serum-measure-none"
                            value="none" checked>
                        <label class="form-check-label" for="serum-measure-none">Not available</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="serum-measure" id="serum-measure-plgf"
                            value="plgf">
                        <label class="form-check-label" for="serum-measure-plgf">PlGF</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="serum-measure" id="serum-measure-papp-a"
                            value="papp-a">
                        <label class="form-check-label" for="serum-measure-papp-a">PAPP-A</label>
                    </div>

                </div>
            </div>
            <fieldset class="row mb-3 collapse show" id="plgf-fieldset">
                <label for="plgf-measure" class="col-sm-3 col-form-label">Serum PlGF</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" step="0.1" id="plgf-measure" name="plgf-measure" class="form-control" />
                        <span class="input-group-text">MoM</span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3 collapse " id="papp-a-fieldset" >
                <label for="papp-a-measure" class="col-sm-3 col-form-label">Serum PAPP-A</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="number" step="0.1" id="papp-a-measure" name="papp-a-measure"
                            class="form-control" />
                        <span class="input-group-text">MoM</span>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <div class="text-center">
            <button type="submit" id="submit-button" class="btn btn-primary" data-bs-title="Validation Error"
                data-bs-content="Please correct the highlighted fields.">Calculate risk</button>
        </div>
    </form>
</div>
<div class="modal" tabindex="-1" id="results-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Pre-eclampsia risk</h1>
            </div>
            <div class="modal-body">
                <p>Risk from history only at &lt; 37 weeks:</p>
                <p>1 in <strong id="resultPrior"></strong></p>
                <p>Risk from history and provided biomarkers &lt; 37 weeks:</p>
                <p>1 in <strong id="resultPost"></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>