@page
@model PeRiskCalc.Frontend.Pages.OldcalcModel
@{
}

@section scripts {
    <script>
        async function calculateRisk() {
            const formData = new FormData(
                document.getElementById("predictionForm")
            );

            const priorForm = {
                Age: parseFloat(formData.get("age")),
                Weight: parseFloat(formData.get("weight")),
                Height: parseFloat(formData.get("height")),
                Ethnicity: formData.get("ethnicity"),
                FamilyHistoryPE: formData.get("fam-hist-pe") === "yes",
                IVF: formData.get("conception") === "ivf",
                ChronicHypert: formData.get("chronic-hypert") === "yes",
                Diabetes: formData.get("diabetes") === "yes",
                Autoimmune: formData.get("autoimmune") === "yes",
                PregnancyInterval: parseFloat(formData.get("preg-interval")) || 0,
                PrevGestAge: parseFloat(formData.get("prev-gest-age")) || 0,
            };

            const momValues = {
                MapMoM: parseFloat(formData.get("map")),
                UtaPiMoM: parseFloat(formData.get("uta-pi")),
                PlgfMoM: parseFloat(formData.get("plgf")),
            };

            try {
                console.log("Body: ", { priorForm, momValues });
                const response = await fetch("http://localhost:5128/calculate-risk", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ priorForm, momValues }),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const result = await response.json();
                console.log("Server response:", result); // Log the server response

                if (result.riskPrior !== undefined && result.riskPost !== undefined) {
                    let oddsPrior = 1 / result.riskPrior;
                    let oddsPost = 1 / result.riskPost;
                    oddsPrior = oddsPrior > 10000 ? 10000 : oddsPrior;
                    oddsPost = oddsPost > 10000 ? 10000 : oddsPost;
                    document.getElementById(
                        "resultPrior"
                    ).textContent = `Preeclampsia risk from history only at < 37 weeks: 1 in ${Math.round(oddsPrior)}`;
                    document.getElementById(
                        "resultPost"
                    ).textContent = `Preeclampsia risk from history plus biomarkers at < 37 weeks: 1 in ${Math.round(oddsPost)}`;
                } else {
                    document.getElementById(
                        "result"
                    ).textContent = `Error: Risk value is undefined in the response.`;
                }
            } catch (error) {
                console.error("There was an error with the request:", error);
                document.getElementById(
                    "result"
                ).textContent = `Error calculating risk: ${error.message}`;
            }
        }
    </script>
}

<div class="container mt-5">
    <form id="predictionForm" class="needs-validation" novalidate>
        <h3 class="text-left mt-4">History</h3>
        <div class="row mb-3">
            <label for="age" class="col-sm-6 col-form-label">Age</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="number" id="age" name="age" class="form-control" value="25" required />
                <span class="input-group-text" id="basic-addon1">years</span>
              </div
            </div>
        </div>

        <div class="row mb-3">
            <label for="weight" class="col-sm-6 col-form-label">Weight</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="number" id="weight" name="weight" class="form-control" value="69" required />
                    <span class="input-group-text" id="basic-addon1">kg</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="height" class="col-sm-6 col-form-label">Height</label>
            <div class="col-sm-6">
                 <div class="input-group">
                <input type="number" id="height" name="height" class="form-control" value="164" required />
                    <span class="input-group-text" id="basic-addon1">cm</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="ethnicity" class="col-sm-6 col-form-label">Ethnicity</label>
            <div class="col-sm-6">
                <select id="ethnicity" name="ethnicity" class="form-select" required>
                    <option value="white" selected>White</option>
                    <option value="black">Black</option>
                    <option value="south-asian">South Asian</option>
                    <option value="east-asian">East Asian</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="parity" class="col-sm-6 col-form-label">Parity</label>
            <div class="col-sm-6">
                <select id="parity" name="parity" class="form-select" required>
                    <option value="nulliparous" selected>Nulliparous</option>
                    <option value="parous-no-pe">Parous without previous PE</option>
                    <option value="parous-with-pe">Parous with previous PE</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="preg-interval" class="col-sm-6 col-form-label">Previous Pregnancy Interval (years):</label>
            <div class="col-sm-6">
                <input type="number" step="0.01" id="preg-interval" name="preg-interval" class="form-control" value="" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="prev-gest-age" class="col-sm-6 col-form-label">Gestational Age at Delivery of Previous Pregnancy (weeks):</label>
            <div class="col-sm-6">
                <input type="number" step="0.01" id="prev-gest-age" name="prev-gest-age" class="form-control" value="" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="fam-hist-pe" class="col-sm-6 col-form-label">Family History of PE (Mother):</label>
            <div class="col-sm-6">
                <select id="fam-hist-pe" name="fam-hist-pe" class="form-select" required>
                    <option value="no" selected>No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="conception" class="col-sm-6 col-form-label">Method of Conception:</label>
            <div class="col-sm-6">
                <select id="conception" name="conception" class="form-select" required>
                    <option value="natural" selected>Natural</option>
                    <option value="ivf">IVF</option>
                    <option value="ovulation-drugs">Ovulation Drugs</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="chronic-hypert" class="col-sm-6 col-form-label">History of Chronic Hypertension:</label>
            <div class="col-sm-6">
                <select id="chronic-hypert" name="chronic-hypert" class="form-select" required>
                    <option value="no" selected>No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="diabetes" class="col-sm-6 col-form-label">History of Diabetes Mellitus:</label>
            <div class="col-sm-6">
                <select id="diabetes" name="diabetes" class="form-select" required>
                    <option value="no" selected>No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="autoimmune" class="col-sm-6 col-form-label">History of Systemic Lupus Erythematosus or Antiphospholipid Syndrome:</label>
            <div class="col-sm-6">
                <select id="autoimmune" name="autoimmune" class="form-select" required>
                    <option value="no" selected>No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>
        </div>

        <h3 class="text-left mt-4">Biomarkers</h3>

        <div class="row mb-3">
            <label for="map" class="col-sm-6 col-form-label">MAP:</label>
            <div class="col-sm-6">
                <input type="number" step="0.01" id="map" name="map" class="form-control" value="0.807" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="uta-pi" class="col-sm-6 col-form-label">UtA-PI:</label>
            <div class="col-sm-6">
                <input type="number" step="0.01" id="uta-pi" name="uta-pi" class="form-control" value="0.872" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="plgf" class="col-sm-6 col-form-label">PlGF:</label>
            <div class="col-sm-6">
                <input type="number" step="0.01" id="plgf" name="plgf" class="form-control" value="1" />
            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="calculateRisk()">Calculate Risk</button>
        </div>
    </form>
    <div class="mt-4">
        <p id="resultPrior" class="text-center"></p>
        <p id="resultPost" class="text-center"></p>
    </div>
</div>
