# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core Frontend to Azure Web App - starship-risk-calc-frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      # Build the Frontend project
      - name: Build Frontend project
        run: dotnet build PeRiskCalc.Frontend/PeRiskCalc.Frontend.csproj --configuration Release

      # Publish the Frontend project
      - name: dotnet publish
        run: dotnet publish PeRiskCalc.Frontend/PeRiskCalc.Frontend.csproj -c Release -o ${{ github.workspace }}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'starship-risk-calc-frontend'
          slot-name: 'Production'
          package: ${{ runner.workspace }}/starship-pe-risk-calc/myapp
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_AFBDC1CF56654DCCB51B971A485609C8 }}